<!DOCTYPE html>
<html>
<head>
  <title>Dcm4chee</title>
  <%= stylesheet_link_tag    "dcm4chee/application", :media => "all" %>
  <%= javascript_include_tag "dcm4chee/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
